<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
  <!-- 
    BARRA DE NAVEGACAO 
  -->
  <div th:replace="menu :: menu"></div>
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h3>Gerenciar pessoas</h3>      
      
      <div th:switch="${pessoa.id>0}">
      	<p th:case="${true}">Atualização</p>
      	<p th:case="*">Cadastro pessoa</p>
      </div>

      <form th:object="${pessoa}" action="/pessoas/save" method="POST">
		<input type="hidden" th:field="${pessoa.id}" th:if="${pessoa.id}">
		<p th:each="filme: ${pessoa.filmes}" style="margin-bottom: 5px;">
		  <label>
		  <input type="checkbox" name="filmes" th:value="${filme.id}" 
		  checked="checked" th:text="${filme.nome}" onclick="return false;" style="margin-right: 10px;">
		  </label>
		</p>
		
        <div class="mb-3">
          <label class="form-label" for="nome">Nome</label> 
         <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome" th:errorclass="inputError" autocomplete="off">
         <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">campo invalido</span>
        </div>
        
        <div class="row">
          <div class="col">
          <label class="form-label" for="nome">Nascimento</label> 
		  <input type="text" th:field="${pessoa.dataNasc}" class="form-control" 
		  placeholder="dd/MM/yyyy">
		  <span class="error" th:if="${#fields.hasErrors('dataNasc')}" 
		  th:errors="*{dataNasc}">campo invalido</span>
          </div>
        </div>
        <div class="mb-3">
          <p th:switch="${pessoa.id>0}">
            <button type="submit" th:case="${true}" class="btn btn-danger" th:text="Atualizar"></button>
            <button type="submit" th:case="*" class="btn btn-primary" th:text="Adicionar"></button>
          </p>
        </div>
      </form>
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>